<h2>List of workspaces</h2>

@if (loading()) {
  <p>Loading workspaces...</p>
} @else {
  @if (resources().length === 0) {
    <p>No workspace available at the moment.</p>
  } @else {
    <ul>
      @for (resource of resources(); track resource.id) {
        <li>
          <strong>{{ resource.name }}</strong> — Capacity : {{ resource.capacity }} {{ resource.capacity > 1 ? 'seats' : 'seat' }}
          <button (click)="onEdit(resource)">Edit</button>
          <button (click)="onDelete(resource.id)">Delete</button>
        </li>
      }
    </ul>
  }
}
